[submodule "Curso-Backend-node.js-Expert"]
	path = B2-Backend-node.js-Expert
	url = https://github.com/beduExpert/Curso-Backend-node.js-Expert
[submodule "Curso-Python-Expert-1"]
	path = B2-Python-Expert
	url = https://github.com/beduExpert/Curso-Python-Expert-1
[submodule "Curso-Backend-Fundamentals"]
	path = A2-Backend-Fundamentals-Expert
	url = https://github.com/beduExpert/Curso-Backend-Fundamentals
[submodule "A1-Frontend-Fundamentals-Expert"]
	path = A1-Frontend-Fundamentals-Expert
	url = https://github.com/beduExpert/A1-Frontend-Fundamentals-Expert
[submodule "C1-React.js"]
	path = C1-React.js
	url = https://github.com/beduExpert/C1-React.js
[submodule "B1-Programacion-Con-Javascript-Expert"]
	path = B1-Programacion-Con-Javascript-Expert
	url = https://github.com/mikenieva/B1-Programacion-Con-Javascript-Expert
