[submodule "Curso-Backend-node.js-Expert"]
	path = Curso-Backend-node.js-Expert
	url = https://github.com/beduExpert/Curso-Backend-node.js-Expert
[submodule "Curso-Backend-node.js-Student"]
	path = Curso-Backend-node.js-Student
	url = https://github.com/beduExpert/Curso-Backend-node.js-Student
