[submodule "Curso-Backend-node.js-Expert"]
	path = B2-Backend-node.js-Expert
	url = https://github.com/beduExpert/Curso-Backend-node.js-Expert
[submodule "Curso-Backend-node.js-Student"]
	path = B2-Backend-node.js-Student
	url = https://github.com/beduExpert/Curso-Backend-node.js-Student
[submodule "Curso-Reactjs-student"]
	path = Curso-Reactjs-student
	url = https://github.com/beduExpert/Curso-Reactjs-student
[submodule "Curso-Reactjs-expert"]
	path = Curso-Reactjs-expert
	url = https://github.com/beduExpert/Curso-Reactjs-expert
[submodule "Curso-Python-Expert-1"]
	path = Curso-Python-Expert-1
	url = https://github.com/beduExpert/Curso-Python-Expert-1
[submodule "Curso-Backend-Fundamentals"]
	path = Curso-Backend-Fundamentals
	url = https://github.com/beduExpert/Curso-Backend-Fundamentals
[submodule "Curso-Frontend-DisenoWeb-Expert"]
	path = A1-Frontend-Fundamentals-Expert
	url = https://github.com/moraelhumano/Curso-Frontend-DisenoWeb-Expert
[submodule "Curso-Frontend-DisenoWeb-Student"]
	path = A1-Frontend-Fundamentals-Student
	url = https://github.com/moraelhumano/Curso-Frontend-DisenoWeb-Student
